<table class="index">
  <tr>
    <th><%= t(:product) %></th>
    <th><%= t(:qty) %></th>
    <th>&nbsp;</th>
  </tr>
  <% promotion_action.promotion_action_line_items.each do |item| %>
    <tr>
      <td>
        <%= item.variant.product.name %> <%= item.variant.options_text %>
      </td>
      <td>
        <%= item.quantity %>
      </td>
      <td>
        <%= image_tag 'admin/icons/cross.png', :class => "remove_promotion_line_item", :data => { :variant_id => item.variant_id } %>
      </td>
    </tr>
  <% end %>
</table>

<% line_items = promotion_action.promotion_action_line_items %>
<% line_items.build %>

<% line_items.each_with_index do |line_item, index| %>
  <div id='promotion_action_line_item_<%= index %>'>
    <% line_item_prefix = "#{param_prefix}[promotion_action_line_items_attributes][#{index}]" %>
    <%= text_field_tag "#{line_item_prefix}[quantity]", line_item.quantity, :type => :number %>
    <%= hidden_field_tag "#{line_item_prefix}[variant_id]", line_item.variant_id %>
    <div class='options_placeholder'></div>
    <script>
      $("input[name='<%= "#{line_item_prefix}[variant_id]" %>']").variantPicker();
    </script>
  </div>
<% end %>


